.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
  width: auto;
  overflow: hidden;
}
.buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.inputRow {
  display: flex;
  justify-content: center;
}
.input {
  border: 1px solid #11161f;
  border-radius: 5px;
  padding: 10px 25px;
}
.link {
  cursor: pointer;
}
.buttonAdd,
.buttonRandom,
.buttonLogout {
  border: none;
  border-radius: 5px;
  color: #11161f;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.6s;
  cursor: pointer;
}
.buttonAdd {
  background-color: #17b676;
}
.buttonRandom {
  background-color: #b69c17;
}
.buttonLogout {
  background-color: #ae2b2b;
}
.buttonAdd:hover,
.buttonRandom:hover,
.buttonLogout:hover {
  background-color: #11161f;
  border: 1px solid white;
  color: white;
}
/* MEDIAS QUERY */
@media (max-width: 1140px) {
  .container {
    flex-direction: column;
  }  
}
@media (max-width: 768px) {
  .buttonsRow {
    flex-direction: row;
    align-items: center;
  }
  .inputRow {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .buttonsRow {
    transform: scale(0.8);
  }  
}
